<div class="home-container">
    <h1>Veja oque estão compartilhando!</h1>
   <div class="search-conteiner">
       <form >
        <input type="text" placeholder="Ou busque por um momento..." (input)="serach($event);">
            <fa-icon [icon]="fatTimes" class="icon"></fa-icon>
       </form>
   </div>
    <div *ngIf="moments.length > 0; else noMoments" >

        <div class="moments-container">
            <div class="moment" *ngFor="let moment of moments">
                <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">

                <h3>{{moment.title}}</h3>
                <p class="date">em: {{moment.created_at}}</p>
            
                <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
            </div>
        </div>
    </div>
    <ng-template #noMoments>
        <h1>Não há momentos cadastrados!</h1>
    </ng-template>
</div>